  
  .center {
    text-align: center;
  }
  
  .heading {
    color: #333;
  }
  
  .body {
    background-color: #1b2d50;
    height: 100vh;
  }
  
  input {
    margin: 5px;
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin: 5px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  